html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.signatureCanvas {
  border: 1px solid black;
  
  /* height:300px;
  width:50% */
 
}
.light {
  --rmsc-main: #4299e1 !important;
  --rmsc-hover: #f1f3f5;
  --rmsc-selected: #e2e6ea;
  --rmsc-border: #ccc;
  --rmsc-gray: #aaa;
  --rmsc-bg: #fff;
  --rmsc-p: 10px; /* Spacing */
  --rmsc-radius: 4px; /* Radius */
  --rmsc-h: 38px; /* Height */
}
.dark {
  --rmsc-main: #4299e1 !important;
  --rmsc-hover: #9CA3AF !important;
  --rmsc-selected: #374151 !important;
  --rmsc-border: #4B5563 !important;
  --rmsc-gray: #aaa !important;
  --rmsc-bg: #1A202C!important;
  --rmsc-p: 10px; /* Spacing */
  --rmsc-radius: 4px; /* Radius */
  --rmsc-h: 38px; /* Height */
}


.dark .search input {
  height: var(--rmsc-h);
  padding: 0 var(--rmsc-p);
  width: 100%;
  outline: 0;
  border: 0;
  background: #111827!important;
  background-color: #111827!important;
}

.pre{
  margin-bottom: 2px !important;
}